---
// Importing necessary components and functions
import Layout from "../../layouts/Layout.astro";
import Bar from "../../components/Bar.astro";
import { Icon } from "astro-icon/components";
import { getCollection, render } from "astro:content";

// Type definition for blog posts
import type { Blog } from "../../utils/interface";

// Generating static paths for each blog post based on their IDs
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post: Blog) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
    title={post.data.title}
    description={post.data.description}
    image={post.data.opengraph}
>
    <!-- Progress Bar for read progress -->
    <Bar />
    <article class="py-12">
        <a
            href="/blog"
            class="text-sm md:text-base opacity-80 hover:opacity-100 transition-opacity mb-6 inline-flex items-center gap-x-1"
        >
            <!-- arrow left icon -->
            <Icon name="mdi:chevron-left" class="w-6 h-6 inline-block" />
            Back to Posts
        </a>

        <h1 class="text-3xl lg:text-4xl font-bold mb-6">{post.data.title}</h1>
        <p class="text-sm md:text-base opacity-80 mb-8">
            Published on {
                new Date(post.data.pubDate).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
            <span class="mx-1">|</span>
            Last updated on {
                new Date(post.data.updateDate ?? post.data.pubDate).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
        <div class="prose dark:prose-invert max-w-none">
            <Content />
        </div>

        <!-- go back to posts -->
        <div class="flex justify-center">
            <a
                href="/blog"
                class="text-base opacity-80 hover:opacity-100 transition-opacity mt-12 inline-flex items-center gap-x-1"
            >
                <!-- arrow left icon -->
                <Icon name="mdi:chevron-left" class="w-6 h-6 inline-block" />
                Back
            </a>
        </div>
    </article>
</Layout>

<script>
    import { getCopyIconSvg } from "../../utils/icon";
    document.querySelectorAll(".astro-code").forEach((codeBlock) => {
        const wrapper = document.createElement("div");
        wrapper.className = "relative group";

        codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
        wrapper.appendChild(codeBlock);

        const copyButton = document.createElement("button");
        copyButton.className =
            "absolute top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity text-white p-1 rounded text-sm cursor-pointer";

        copyButton.innerHTML = getCopyIconSvg();

        copyButton.addEventListener("click", () => {
            navigator.clipboard.writeText(codeBlock.textContent ?? "");
        });

        wrapper.appendChild(copyButton);
    });
</script>
